
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/AdminE/Views/Shared/_AdminLayout.cshtml";
}

<h1>Update</h1>

<form>
   Input <input />
   <button type="submit" class="btn btn-dark" id="updatebtn"></button>
</form>

<a asp-controller="Category" asp-action="Index" class="btn btn-primary">Back</a>