@model IEnumerable<Product>


@foreach (Product item in Model)
{
    <a asp-controller="Product" asp-action="Detail" asp-route-id="@item.Id">
        <li>
            @item.Name
        </li>
    </a>
}
