@model IEnumerable<Slider>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/AdminE/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Slider Table</h4>
                <p class="card-description">
                    <a asp-controller="Slider" asp-action="Create" class="btn btn-primary">Create</a>
                    <a asp-controller="Slider" asp-action="DeleteAll" class="btn btn-danger">Delete All Data!!</a>

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Count</th>
                                    <th>Image</th>
                                    <th>Setting</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Slider item in Model)
                                {
                                    count++;
                                    <tr>
                                        <td>@count</td>
                                        <td><img src="~/img/@item.ImageUrl" /></td>
                                        <td>
                                            <a class="btn btn-danger" asp-controller="Slider" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                            <a class="btn btn-dark" asp-controller="Slider" asp-action="Updatem" asp-route-id="@item.Id">Update</a>
                                            <a class="btn btn-success" asp-controller="Slider" asp-action="Detail" asp-route-id="@item.Id">Detail</a>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>
</div>
